body{
    background-color: rgb(174, 134, 212);
}

.container{
    margin:auto;
    width: 80%;
    overflow: auto;
    text-align: center;
}

.nombre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 24px;
    
}


.foto{
    width: 20%;
    border-radius: 50%;
}


header {
    background: #572975;
    color: #fffefe;
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
    justify-content: center;
}

.hobbies{
background: #957698;
color: beige;
text-align: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.presentacion{
    background: #8a5390;
    color: beige;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
.aprendizaje{
    background: rgb(179, 82, 155);
    color: beige;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

footer{
    background: bisque;
    display: flex;
    justify-content: space-between;
    color: #957698;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.logo-container {
    position: fixed; 
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
    height: 50px;
    width: auto;
}
nav{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.año{
    text-align: right;
    position: relative;
    right: 10px;
    
}
