:root{
    --text_color: beige;
    --primary_color: rgb(174, 134, 212);
    --secondary_color: #572975;
    --font-new-amsterdam: 'New Amsterdam', sans-serif;
}
html {
    font-family: var(--font-new-amsterdam);
}

body{
    background-color: var(--primary_color)!important;
    font-family: var(--font-new-amsterdam);
}

.container{
    margin:auto;
    width: 80%;
    overflow: auto;
    text-align: center;
}

.nombre{
    font-family: var(--font-new-amsterdam);
    text-align: center;
    font-size: 24px;    
}

.hobbies, .presentacion, .aprendizaje {
    font-family: var(--font-new-amsterdam); /* Aplicar la fuente personalizada */
}

.foto{
    width: 20%;
    border-radius: 50%;
    text-align: center;
}


header {
    background: var(--secondary_color)!important;
    color: var(--text_color);
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
    justify-content: center;
}

.hobbies{
background: #957698;
color: var(--text_color);
text-align: center;
}

.presentacion{
    background: #8a5390;
    color: var(--text_color);
    text-align: center;
}
.aprendizaje{
    background: rgb(179, 82, 155);
    color: var(--text_color);
    text-align: center;

}

footer{
    background: bisque;
    display: flex;
    justify-content: space-between;
    color: #957698;
    font-family: var(--font-new-amsterdam);
}
.logo-container {
    position: fixed; 
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 1000;
    height: 70px;
    width: auto;
}
nav{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.nav-pills .nav-link {
    background-color: var(--secondary_color); /* Color de fondo de las pestañas */
    color: var(--text_color); /* Color del texto de las pestañas */
    margin: 0 5px; /* Espacio entre los enlaces */
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav-pills .nav-link.active {
    background-color: var(--primary_color); /* Color de fondo de la pestaña activa */
    color: var(--text_color); /* Color del texto de la pestaña activa */
}
.año{
    text-align: right;
    position: relative;
    right: 10px;
    
}
