body{
    background-color: rgb(211, 207, 226);
}

.container{
    margin:auto;
    width: 80%;
    overflow: auto;
    text-align: center;
}

.nombre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.foto{
    width: 30%;
    border-radius: 50%;
}
header {
    background: #rgb(0, 0,0);
    padding-top: 30px;
    min-height: 70px;
    text-align: center;
}
